// Colors
$gray : rgba(248,249,250, 1);
$green : #198754;

// Fonts
$font-main: 'Quicksand';
$font-defaults: sans-serif;

//Breakpoints
$desktop-xl: 122rem;
$desktop: 99.2rem;
$tablet: 76.8rem;
$mobile: 48rem;